.logo-wraper {

  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./headerBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .logo {
    width: 200px;
    height: 200px;
    background-image: url("./logo.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .text-logo {
    font-size: 36px;
    color: white;
    background-color: black;
  }
}