.search-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 22px;
  &__text {
    display: flex;
    width: 640px;

    .form-control {
      width: calc(100% - 50px);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 22px;
    }

    .form-control:focus {
      outline: #00afdb solid 2px;
      font-size: 22px;
    }

  }
}
